In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../data/processed/processed_data.csv')
df_2000 = df[df['Period'] == '2000s'].reset_index(drop=True)

In [5]:
df_2000.head()

,Date,U.S. 30 Day TBill TR,Russell 2000 TR,S&P 500 TR,LB LT Gvt/Credit TR,MSCI EAFE TR,Period
0,2002-01-02,0.1484,-1.105424,-1.557383,-2.2782,-5.783732,2000s
1,2002-02-01,0.1390,-2.844136,-2.076621,1.0098,1.201066,2000s
2,2002-03-01,0.1285,7.904382,3.673889,0.6827,5.582392,2000s
3,2002-04-01,0.1341,0.831264,-6.141762,-5.0435,1.523733,2000s
4,2002-05-01,0.1546,-4.543053,-0.908148,3.6252,0.533105,2000s

In [6]:
df_2000.columns

Index(['Date', 'U.S. 30 Day TBill TR', 'Russell 2000 TR', 'S&P 500 TR',
       'LB LT Gvt/Credit TR', 'MSCI EAFE TR', 'Period'],
      dtype='object')

In [14]:
df_2000[['U.S. 30 Day TBill TR', 'Russell 2000 TR', 'S&P 500 TR',
       'LB LT Gvt/Credit TR', 'MSCI EAFE TR']].mean() * 12

U.S. 30 Day TBill TR    1.788840
Russell 2000 TR         6.416920
S&P 500 TR              2.195381
LB LT Gvt/Credit TR     9.020870
MSCI EAFE TR            6.450622
dtype: float64

In [32]:
yearly_df = (
        df_2000.drop(["Period"], axis=1)
        .assign(
            Year=lambda x: x["Date"].apply(lambda x: x.split("-")[0]),
        )
        .drop("Date", axis=1)
        .groupby("Year")
        .sum()
        .reset_index()
        # .drop("Year", axis=1)
    )
yearly_df.head()

,Year,U.S. 30 Day TBill TR,Russell 2000 TR,S&P 500 TR,LB LT Gvt/Credit TR,MSCI EAFE TR
0,2002,1.6623,-21.568170,-24.351692,9.355600,-14.999577
1,2003,1.0383,39.168388,24.221238,4.729401,35.413283
2,2004,1.1099,16.773625,8.883624,7.170300,17.985116
3,2005,2.7751,4.231425,3.238415,9.425300,13.046591
4,2006,4.5961,16.638688,12.985788,5.416600,23.584398

In [33]:
(
    pd.melt(
        df_2000.drop("Period", axis=1),
        id_vars=["Date"],
        var_name="Indexes",
        value_name="Value",
    )
    .sort_values(by=["Date", "Indexes"])
    .groupby("Indexes")
    .agg(
        Monthly_average_return=("Value", "mean"),
        Monthly_sd=("Value", "std"),
    )
    .reset_index()
).merge(
    (
        pd.melt(
            yearly_df,
            id_vars=["Year"],
            var_name="Indexes",
            value_name="Value",
        )
        .sort_values(by=["Year", "Indexes"])
        .groupby("Indexes")
        .agg(
            Annualized_return=("Value", "mean"),
            Annualized_sd=("Value", "std"),
        )
        .reset_index()
    ),
    on="Indexes"
)

,Indexes,Monthly_average_return,Monthly_sd,Annualized_return,Annualized_sd
0,LB LT Gvt/Credit TR,0.751739,4.328184,9.020870,8.954625
1,MSCI EAFE TR,0.537552,5.601292,6.450622,24.801192
2,Russell 2000 TR,0.534743,6.082092,6.416920,23.524448
3,S&P 500 TR,0.182948,4.597421,2.195381,21.650257
4,U.S. 30 Day TBill TR,0.149070,0.141409,1.788840,1.731645

In [38]:
yearly_df.drop(["Year","U.S. 30 Day TBill TR"], axis=1).cov()

,Russell 2000 TR,S&P 500 TR,LB LT Gvt/Credit TR,MSCI EAFE TR
Russell 2000 TR,553.399671,489.712588,-144.029198,544.448239
S&P 500 TR,489.712588,468.733615,-128.824340,511.428691
LB LT Gvt/Credit TR,-144.029198,-128.824340,80.185302,-172.997660
MSCI EAFE TR,544.448239,511.428691,-172.997660,615.099102

In [18]:
(
    pd.melt(
        df_2000.drop("Period", axis=1),
        id_vars=["Date"],
        var_name="Indexes",
        value_name="Value",
    )
    .sort_values(by=["Date", "Indexes"])
    .groupby("Indexes")
    .agg(
        Monthly_average_return=("Value", "mean"),
        Monthly_sd=("Value", "std"),
    )
    .reset_index()
)
    # .reset_index()
    # .assign(Annualized_return=lambda x: x["Monthly_average_return"] * 12)
    # .assign(Annualized_sd=lambda x: x["Monthly_sd"] * 12**0.5)
    # )

                Indexes  Monthly_average_return  Monthly_sd
0   LB LT Gvt/Credit TR                0.751739    4.328184
1          MSCI EAFE TR                0.537552    5.601292
2       Russell 2000 TR                0.534743    6.082092
3            S&P 500 TR                0.182948    4.597421
4  U.S. 30 Day TBill TR                0.149070    0.141409

In [ ]:
def generate_monthly_n_annual_stats_df(data, time_range):
    monthly_annual_stats = (
        pd.melt(
            data.query("Period==@time_range").drop("Period", axis=1),
            id_vars=["Date"],
            var_name="Indexes",
            value_name="Value",
        )
        .sort_values(by=["Date", "Indexes"])
        .groupby("Indexes")
        .agg(
            Monthly_average_return=("Value", "mean"),
            Monthly_sd=("Value", "std"),
        )
        .reset_index()
        .assign(Annualized_return=lambda x: x["Monthly_average_return"] * 12)
        .assign(Annualized_sd=lambda x: x["Monthly_sd"] * 12**0.5)
    )

    st.dataframe(
        monthly_annual_stats.style.apply(highlight_max_by_column),
        use_container_width=True,
        hide_index=True,
    )