In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/processed/processed_data.csv')
df_2000 = df[df['Period'] == '2000s'].reset_index(drop=True)

In [3]:
df_2000

,Date,U.S. 30 Day TBill TR,Russell 2000 TR,S&P 500 TR,LB LT Gvt/Credit TR,MSCI EAFE TR,Period
0,2002-01-02,0.1484,-1.105424,-1.557383,-2.278200,-5.783732,2000s
1,2002-02-01,0.1390,-2.844136,-2.076621,1.009800,1.201066,2000s
2,2002-03-01,0.1285,7.904382,3.673889,0.682700,5.582392,2000s
3,2002-04-01,0.1341,0.831264,-6.141762,-5.043500,1.523733,2000s
4,2002-05-01,0.1546,-4.543053,-0.908148,3.625200,0.533105,2000s
...,...,...,...,...,...,...,...
115,2011-08-01,-0.0028,-8.810212,-5.679111,4.598900,-8.754901,2000s
116,2011-09-01,0.0083,-11.371614,-7.176199,10.010799,-10.808286,2000s
117,2011-10-03,-0.0001,15.042851,10.772304,13.802899,9.627460,2000s
118,2011-11-01,0.0014,-0.491190,-0.505872,-3.708200,-2.176397,2000s
119,2011-12-01,0.0004,0.474628,0.853276,2.163600,-2.174951,2000s

In [4]:
yearly_df = (
        df_2000.drop(["Period", "U.S. 30 Day TBill TR"], axis=1)
        .assign(
            Year=lambda x: x["Date"].apply(lambda x: x.split("-")[0]),
        )
        .drop("Date", axis=1)
        .groupby("Year")
        .mean()
        .reset_index()
        .drop("Year", axis=1)
    )